@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root, :root[data-theme='dark'] {
    --primary-color: #F0F0F0;
  
    --primary-bg-color: #111217;
    --secondary-bg-color: #28292E;
    --primary-border-color: #28292E;
    --secondary-border-color: #56575A;
  
    --button-color: #2A7AE4;
    --button-bg-color: #cdddf3;
    --button-color-hover: #153dec;
    --button-color-text: #000000;
    --title-color: #ffffff;
    --text-color: #9A9A9C;
    --link-color: #9A9A9C;
    --icon-color: #C7C8C9;
    --menu--hover: #ff8c00;
  }
  
  :root[data-theme='light'] {
    --primary-color: #0B0B0F;
  
      --primary-bg-color: #E9E9E9;
      --secondary-bg-color: #C7C8C9;
      --primary-border-color: #C7C8C9;
      --secondary-border-color: #9A9A9C;
  
      --button-color: #2A7AE4;
      --button-bg-color: #6ca9f8;
      --button-color-hover: #153dec;
      --button-color-text: #000000;
      --title-color: #0B0B0F;
      --text-color: #28292E;
      --link-color: #28292E;
      --icon-color: #56575A;
      --menu--hover: #ffa500;
  }

html[data-theme='light'] .brand__logo {
    filter: invert(1);
}
  
html[data-theme='light'] .technologies__logo {
    filter: invert(80%);
}

body {
    /* box-sizing: border-box; */
    background-color: var(--primary-bg-color) ;
    font-family: "Raleway", serif;
    margin: 0;
    padding: 0;
    line-height: 1;
    width: min-content;
    width: 100%;
}

.all{
    width: 90%;
    margin-left: 5%;
}
ol, ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--link-color);
    text-transform: uppercase;
}

button{
    cursor: pointer;
    border-radius: 3.125rem;
    background: transparent;
    border: none;
    color: var(--primary-color);
    text-transform: uppercase;
    transition: ease-in-out .3s;
}

button:active{
	margin-top:0px;
	border: 0;
    
}

button[disabled=disabled], button:disabled {
    background-color: var(--primary-border-color);
	border-color: var(--secondary-border-color);
    cursor: auto;
}

button:hover{
    transform: scale(1.05);
    transition: ease-in-out .3s;
}

/*O que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

.menu{   
    display: flex;
    /* margin: 0 auto 0 5%; */
    align-items: center;
    background-color: var(--primary-bg-color);
    height: 4.5rem;
    
}

.menu_container{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 85.5%;
    background-color: var(--primary-bg-color);
    z-index: 1000; /*Para garantir que o cabeçalho fique acima de outros elementos */
}

nav{
    /* margin: 0 auto; */
    width: 100%;
}

.menu__list{
    display: flex;
    justify-content: space-between;
}

.menu__list__item{
    /* margin: 0 0 0 2rem; */
    color: var(--text-color);
    font-size: 2.0vw;
}

.menu__list__item a:hover{
    color: var(--menu--hover);
}

.menu__list__item:nth-child(6){
    font-weight: bold;
}

h1, h2, h3, h4, p{
    color: var(--title-color);
}

/*Sessão Title*/

section.title{
    display: flex;
    /* margin: 0 auto 0 5%; */
}

.title__div{
    width: 100%;
}

.title__profile{
    width: 14.81rem;
    height: 14.81rem;
    border-radius: 50%;
    float: right;
}

.title__container{
    width: auto;
}

.title__bio{
    font-size: 2.6em;
}

.title__subsection{
    width: 46.94rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.37rem;
    line-height: 1.62rem;
    text-align: justify;
}

.title__network{
    display: flex;
    justify-content: space-between;
    padding: 0%;
    width: 33.75rem;
    height: 1.5rem;
    padding-top: 0.62rem;
}

.title__network__item{
    display: inline;
    margin-right: 1rem;
}

.title__network__item a:hover{
    color: var(--menu--hover);
}
/*Sessão About*/

section.about{
    display: flex;
    float: none;
    /* margin: 0 auto 0 5%; */
    background: var(--secondary-bg-color);
    flex-direction: column;
    padding: 2.75rem;
    height: auto;
    align-self: stretch;
    flex-grow: 0;
}

.about__container{
    width: auto;
    float: none;
    margin: 0 auto;
}

.about__title{
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}

.about__paragraph{
    height: auto;
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 1.19rem;
    flex: none;
    order: 1;
    flex-grow: 0;
    text-align: justify;
}

/*Sessão Skills*/

section.skills, section.hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.skills__title, .hobbies__title{
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.37rem;
}

.skills__line, .hobbies__line{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    /* width: auto; */
    flex-wrap: wrap;
    /* flex: none; */
    order: 1;
    justify-content: space-between;
    flex-grow: 0;
}

.skills__box, .hobbies__box{
    background: #FFFFFF;
    display: flex;
    flex: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 1rem;
    gap: 0.5rem;
    width: 9.12rem;
    height: 9.44rem;
    transition: ease-in-out .3s;
}

.skills__box:hover{
    transform: scale(1.05);
    transition: ease-in-out .3s;
}

.skills__box ul{
    padding-inline-start: 0;
}

/*Sessão Hobbies*/

.hobbies__box:hover{
    transform: scale(1.05);
    transition: ease-in-out .3s;
}

.hobbies__box ul{
    padding-inline-start: 0;
}

/* Experiência Acadêmica*/
section.academic, section.outras{
    display: flex;
    /* float: none; */
    /* margin: 0 auto 0 5%; */
    flex-direction: column;
    align-items: center;
    padding: 5%;
    height: auto;
    background: var(--secondary-bg-color);
    align-self: stretch;
    flex-grow: 0;
}

.academic__title, .outras__title{
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.37rem;
}

.academic__courses, .outras__courses{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
}

.outras__courses__box{
    display: flex;
}

.academic__courses__box ul, .outras__courses__box ul{
    padding-inline-start: 0;
}

.academic__courses__item__img, .outras__courses__item__img{
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 0.62rem;
    width: 15.12rem;
    height: 15.12rem;
    transition: ease-in-out .3s;
}
.academic__courses__item__img:hover, .outras__courses__item__img:hover{
    transform: scale(1.05);
    transition: ease-in-out .3s;
}

#img1{
    width: 80%;
    height: 80%;
}

#img2, #img5{
    width: 80%;
    height: 28%;
}

#img3, #img4{
    width: 90%;
    height: 70%;
}

.academic__courses__item__title, .outras__courses__item__title{
    font-weight: 700;
    font-size: 1.3em;
    line-height: 1.62rem;
}

.academic__courses__item__subtitle, .outras__courses__item__subtitle{
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.19rem;
    /* color: #464646; */
}
  
/* experiência*/
section.experience{
    display: flex;
    float: none;
    padding: 5%;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
}

.experience__section__title{
    width: auto;
    /* height: 38px; */
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.37rem;
    text-align: center;
}

.experiencie__box{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: auto;
    height: auto;
}

.experience__forca{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.experience__img{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 70%;
    height: 38%;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
    border-radius: 20px;
    transition: ease-in-out .3s;
}

.experience__img:hover{
    transform: scale(1.05);
    transition: ease-in-out .3s;
    opacity: 1.5;
}

#img__forca{
  width: 64%;
  /* margin-left: 34%; */
  
}

.experience__title{
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.62rem;
}

.experience__text{
    padding: 0;
}
.experience__text__item{
    font-weight: 500;
    font-size: 1rem;
    line-height: 2rem;
    list-style: disc;
    color: var(--text-color);
}

.experience__description{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: 3.19rem;
}

.experience__description, .experience__demo{
    padding: .65rem 2rem;
}

.experiencia__botao--repo{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    /* padding: 1rem 2rem; */
    font-weight: 400;
    font-size: 1rem;
    width: 7.30rem;
    height: 3rem;
    text-transform: uppercase;
}

.experiencia__botao--demo{
    display: flex;
    align-items: center;
    padding-left: 1.25rem;
    width: 7.30rem;
    height: 3rem;
    font-weight: 400;
    font-size: 1rem;
    border: 1px solid var(--primary-color);
    gap: 0.625rem;
    text-transform: uppercase;
}

/*Contato*/

section.formcontato{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 0 auto 0 5%; */
    padding: 3% 1% 3% 1%;
    
    gap: 0.62rem;
    flex-grow: 0;
    
    /* Azul/10% */
    background: var(--secondary-bg-color)
}

.formcontato__contacto{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 1rem;
    order: 0;
    flex-grow: 0;
}


.formcontato--esquerda img{
    height: 50%;
}

.formcontato__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    /* Inside auto layout */
    
    order: 1;
    flex-grow: 1;
}

.formcontato__text h2{
    margin: 0;
    margin-bottom: 3%;
    font-size: 2rem;
    line-height: 2.37rem;
}

#nome{
    margin-top: 3%;
}

.formcontato__text h3{
    /* width: 656px; */
    margin: 0;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.19rem
}

.formcontato__form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3vh;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

input, textarea{
    width: auto;
    height: 6vh;
    align-items: center;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    background: var(--icon-color);
    /* flex: none; */
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    outline: none;
    transition: all 0.5s;
    padding: 0.31rem;
    border-radius: 0.62rem;
}

textarea{
    height: 20vh;
    font-family: 'Raleway', serif;
    font-style: normal;
    background: var(--icon-color);
}
input:focus, textarea:focus{
    border-color: var(--button-color);
}

.formcontato__botao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 0.62rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.19rem;
    color: var(--title-color);
    width: 100%;
    height: 3.19rem;
    border-radius: 10px;
    /* Azul/100% */
    background: var(--button-color);
    border: 1px solid var(--primary-color);

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.invisivel{
    display: none;
}

#formcontato__validate{
    color: red;
}



/*footeer*/

section.footer{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 0.62rem;
    width: 100%;
    
    /* Preto/branco */
    background: var(--primary-bg-color);
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.footer__rodape{
    font-weight: 500;
    font-size: 2vw;
    /* line-height: 19px; */
    text-align: center;
}

.idade, .ano{
    display: inline;
}
